<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.shibafu528.shindanaccelerator"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoDisplay" >
        <activity
            android:name=".ShindanActivity"
            android:label="@string/title_activity_shindan" >
            <meta-data android:name="can_receive_name" android:value="true"/>
            <intent-filter android:icon="@drawable/ic_launcher_accel">
                <action android:name="shibafu.yukari.ACTION_LINK_ACCEL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/0.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/1.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/2.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/3.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/4.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/5.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/6.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/7.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/8.*"/>
                <data android:scheme="http" android:host="shindanmaker.com" android:pathPattern="/9.*"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
